@import "tailwindcss";
@config "../../tailwind.config.ts";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 5.5 52.4% 24.7%;
    --card: 0 0% 100%;
    --card-foreground: 5.5 52.4% 24.7%;
    --popover: 0 0% 100%;
    --popover-foreground: 5.5 52.4% 24.7%;
    --primary: 5 67.4% 34.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 3.2 44.9% 48.4%;
    --secondary-foreground: 0 0% 100%;
    --muted: 19 30% 96%;
    --muted-foreground: 5.5 20% 40%;
    --accent: 19 76.7% 59.6%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 19 30% 90%;
    --input: 19 30% 90%;
    --ring: 5 67.4% 34.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 5.5 52.4% 15%;
    --foreground: 0 0% 100%;
    --card: 5.5 52.4% 15%;
    --card-foreground: 0 0% 100%;
    --popover: 5.5 52.4% 15%;
    --popover-foreground: 0 0% 100%;
    --primary: 19 76.7% 59.6%;
    --primary-foreground: 5.5 52.4% 24.7%;
    --secondary: 3.2 44.9% 48.4%;
    --secondary-foreground: 0 0% 100%;
    --muted: 5.5 52.4% 25%;
    --muted-foreground: 19 20% 70%;
    --accent: 5 67.4% 34.9%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 5.5 52.4% 25%;
    --input: 5.5 52.4% 25%;
    --ring: 19 76.7% 59.6%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}